<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Bootstrap demo</title>
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
            crossorigin="anonymous"
            />
    </head>
    <body class="bg-dark">
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
            crossorigin="anonymous"
            ></script>

        <nav class="navbar navbar-expand-lg bg-dark">
            <div class="container-fluid mt-3 ms-3">
                <div class="collapse navbar-collapse">
                    <ul class="nav justify-content-end navbar-nav me-auto mb-2 mb-lg-0 ">
                        <li class="nav-item">
                            <a class="btn btn-dark btn-outline-warning btn-lg fw-bold" href={% url 'userapp:homepage' %}>
                            <h1 class="fw-bold ">E-pustakaalay</h1>
                            </a>
                        </li>
                    </ul>
                    {% if user.is_authenticated %}
                    <div class="d-flex align-items-center">
                        <a href={% url 'userapp:account' %} class="btn btn-warning btn-lg px-3 me-2 fw-bold text-centre">
                        {{user.first_name}} !
                        </a>
                        <a  href={% url 'userapp:log_out' %} class="btn btn-warning btn-lg me-3 fw-bold text-centre">
                        Log Out
                        </a>
                    </div>
                    {% else %}
                    <div class="d-flex align-items-center">
                        <a href={% url 'userapp:sign_up' %} class="btn btn-dark btn-lg px-3 me-2 fw-bold text-centre">
                        Sign Up
                        </a>
                        <a  href={% url 'userapp:log_in' %} class="btn btn-dark btn-lg me-3 fw-bold text-centre">
                        Log In
                        </a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </nav>
      {% comment %} 
        <nav class="navbar bg-warning">
            <div class="container-fluid">
                <a class="btn btn-warning btn-outline-dark btn-lg fw-bold" href={% url 'userapp:homepage' %}>
                <h1 class="fw-bold ">E-pustakaalay</h1>
                </a>
                {% if user.is_authenticated %}
                <div class="col-1">
                    <a href={% url 'userapp:account' %} class="btn btn-dark btn-lg fw-bold"
                    >{{user.first_name}} !</a
                        >
                </div>
                <div class="col-1">
                    <a href={% url 'userapp:log_out' %} class="btn btn-dark btn-lg fw-bold"
                    >Log Out</a
                        >
                </div>
                {% else %}
                <div class="col-1">
                    <a href={% url 'userapp:sign_up' %} class="btn btn-dark btn-lg fw-bold"
                    >Sign Up</a
                        >
                </div>
                <div class="col-1">
                    <a href={% url 'userapp:log_in' %} class="btn btn-dark btn-lg fw-bold"
                    >Log In</a
                        >
                </div>
                {% endif %}
            </div>
        </nav>
      {% endcomment %}

      <div class='m-5 align-end'>
        <a href={% url 'userapp:homepage_gnere' %} class="btn btn-warning btn-lg px-3 me-2 fw-bold text-centre">Sort By Genre</a>
      </div>

      <div class="container-fluid m-3">
        <div class="row gy-4">
                {% for bo in b2a %}
                <div class="col-sm text-center mb-2">
                    <div class="card border-warning text-bg-dark h-100" style='width:18rem'>
                        <div class="card-body">
                            {% comment %} <h5 class="card-title">{{bo.book.bookId}}</h5> {% endcomment %}
                            <h3 class="card-text">{{bo.book.bookName}}</h3>
                            <h5 class="card-text text-warning">{{bo.auth.authName}}</h5>
                            <a href="{{bo.book.get_absolute_url}}" class="btn btn-dark btn-outline-warning text-white fw-bold"
                                >Know More</a
                                >
                            <a href="{{bo.get_absolute_url}}" class="btn btn-dark btn-outline-warning text-white fw-bold"
                                >Order Now</a
                                >
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% comment %} {% endfor %} {% endcomment %}
    </body>
</html>