{% extends 'user/account_base.html' %}

{% block title %}LOGIN{% endblock title %}


{%load crispy_forms_tags %} 
{% block body %}

{% if messages %}
    {% for message in messages %}
    <div class='d-flex align-items-center justify-content-center'>
    <div class="col-6 alert alert-dark text-center" role="alert">
        <strong>{{message}} !</strong>
      </div></div>
    {% endfor %}
{% endif %}

<form method='post' action={% url 'userapp:log_in' %}>
    <div class='container'>
    {% csrf_token %}
    {{form|crispy}}
    {% comment %} {{form.as_p}} {% endcomment %}
    <div class='d-flex justify-content-center'>
        <button type="submit" class="btn btn-lg btn-dark mt-5 fw-bold">Submit</button>
    </div>
    </div>  
</form>
{% endblock body %}
