<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Bootstrap demo</title>
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
			crossorigin="anonymous"
		/>
	</head>
	<body class="bg-warning text-center">
		<h1 class="text-dark mt-3 mb-5 fw-bold ">Order Details!</h1>
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
			crossorigin="anonymous"
		></script>

		<div class="d-flex justify-content-center mt-5">
			<ul class="list-group list-group-horizontal">
				<li class="list-group-item bg-info">Book Id</li>
				<li class="list-group-item bg-info">{{order.book.bookId}}</li>
			</ul>
		</div>

		<div class="d-flex justify-content-center mt-3">
			<ul class="list-group list-group-horizontal">
				<li class="list-group-item bg-info">Book Name</li>
				<li class="list-group-item bg-info">{{order.book.bookName}}</li>
			</ul>
		</div>

		<div class="d-flex justify-content-center mt-3">
			<ul class="list-group list-group-horizontal">
				<li class="list-group-item bg-info">Genre</li>
				<li class="list-group-item bg-info">{{order.book.genres}}</li>
			</ul>
		</div>

		<div class="d-flex justify-content-center mt-3">
			<ul class="list-group list-group-horizontal">
				<li class="list-group-item bg-info">Total Copies</li>
				<li class="list-group-item bg-info">{{order.book.copies}}</li>
			</ul>
		</div>

		<div class="d-flex justify-content-center mt-3">
			<ul class="list-group list-group-horizontal">
				<li class="list-group-item bg-info">Author Id</li>
				<li class="list-group-item bg-info">{{order.auth.authId}}</li>
			</ul>
		</div>

		<div class="d-flex justify-content-center mt-3 mb-5">
			<ul class="list-group list-group-horizontal">
				<li class="list-group-item bg-info">Author Name</li>
				<li class="list-group-item bg-info">{{order.auth.authName}}</li>
			</ul>
		</div>

		<div class="d-flex justify-content-center m-5">
			<div class="card text-center bg-danger" style="width: 40rem">
				<div class="card-header">Final</div>
				<div class="card-body">
					<h5 class="card-title">E-pustakalay</h5>
					<p class="card-text">
						With supporting text below as a natural lead-in to additional
						content.
					</p>
					<a href="{{order.final_order_url}}" class="btn btn-primary"
						>Order Now</a
					>
				</div>
				<div class="card-footer text-muted">-----</div>
			</div>
		</div>
	</body>
</html>
